extends ../layout

block content
	h1.
		#{title}
	ul
		- each flow, i in flows
				li
					= flow.title
					= flow.url
					form(action='/flows/#{flows._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
						input(type='hidden',value='DELETE',name='_method')
						button(type='submit').
							Delete
					p
						a(href='/flows/#{flow._id}/edit') Edit
					p
						a(href='/flows/#{flow._id}') Show